@font-face{
    font-family: 'Barlow';
    src: url(@/assets/BarlowSemiCondensed-Regular.ttf);
}
@font-face{
    font-family: 'Barlow-semiBold';
    src: url(@/assets/BarlowSemiCondensed-SemiBold.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700;800;900&display=swap');

$mainColor:#c0554b;
$mainColorText:#b55047;
$secondaryColor:#483a5b;
$footerColor:#483a5b;
$tetriaryColor: #FBF3ED;
$mainFont: Barlow;
$semiBoldFont: Barlow-semiBold;
$paddingHorizontal: 160px;
$paddingHorizontalMobile: 20px;